
.search-control {
    display: block;
    width: 100%;
    min-height: $input-height;
    padding: $input-padding-y $input-padding-x;
    font-family: $input-font-family;
    @include font-size($input-font-size);
    font-weight: $input-font-weight;
    line-height: $input-line-height;
    color: $input-color;
    background-color: $gray-100;
    background-clip: padding-box;
    border: none;
    border-radius: $border-radius;
    outline: none;
    appearance: none;
}

.search-control::placeholder {
    color: $gray-400;
}