
.overlay-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
    animation: hideOverlay 2s forwards;
}

@keyframes hideOverlay {
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.overlay-brand {
    width: 192px;
}